.contact-us {
    padding: $padding-large;
    background-color: $light-color;
    text-align: center;
  
    h2 {
      color: $primary-color;
      margin-bottom: $padding-medium;
    }
  
    form {
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: $padding-small;
  
      input, textarea {
        padding: $padding-small;
        border: 1px solid $text-color;
        border-radius: $border-radius;
      }
  
      button {
        padding: $padding-medium;
        background-color: $primary-color;
        color: $light-color;
        border: none;
        cursor: pointer;
  
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }  