footer {
    background-color: $secondary-color;
    color: $light-color;
    padding: $padding-medium;
    text-align: center;
  
    .social-media {
      margin-top: $padding-small;
  
      a {
        color: $light-color;
        font-size: 24px;
        margin: 0 10px;
        transition: color 0.3s ease;
  
        &:hover {
          color: $primary-color;
        }
      }
    }
  }  