.navbar {
    background-color: $secondary-color;
    padding: $padding-medium;
  
    h1 {
      color: $light-color;
      font-size: 24px;
    }
  
    ul {
      list-style-type: none;
      display: flex;
      gap: 20px;
      
      li {
        a {
          color: $light-color;
          text-decoration: none;
          transition: color 0.3s ease;
  
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }  